<%- include('partials/header') %>
<%- include('partials/navbar') %>

    <h2 class="mt-5">Discover New Reads and Expand Your Shelf</h2>

    <div class="exploreSearchForm mt-5">
        <form id="exploreForm">
            <input name="search" type="text" placeholder="Search Book..." class="exploreSearch">
            <button class="searchBtn" type="submit">Search</button>
        </form>
    </div>
    
    <!-- Display books results from search -->
    <div id="bookResults" class="row mx-auto mt-4">
        <% if (books && books.length > 0) { %>
            <% for (let book of books) { %>
                <div class="exploreBook d-flex flex-column align-items-center col-12 col-sm-6 col-md-3 mb-4">
                    <!-- Display book cover image -->
                    <div class="imgDiv mb-2">
                        <img src="<%= book.image %>" alt="Book Cover" class="exploreImg img-fluid">
                    </div>
    
                    <div class="exploreBookInfo d-flex justify-content-between mt-1">
                        <!-- Display title and author -->
                        <div class="text-start">
                            <h4 class="mb-0"><%= book.title %></h4>
                            <p class="exploreAuthor"><%= book.authors ? book.authors.join(", ") : "Unknown Author" %></p>
                        </div>
                        <!-- Display rating and category -->
                        <div class="text-end">
                            <% if (book.averageRating) { %>
                                <div class="d-flex justify-content-end mb-1">
                                    <img src="/imgs/icons/<%= book.averageRating >= 4 ? 'star' : 'starHalf' %>.svg" alt="star icon" class="me-1">
                                    <h4 class="mb-0 me-1"><%= book.averageRating %>/5</h4>
                                </div>
                            <% } else { %>
                                <h4 class="mb-1 me-1">Unrated</h4>
                            <% } %>
                            <% if (book.categories && book.categories.length > 0) { %>
                                <div class="text-center">
                                    <p class="category px-2"><%= book.categories[0] %></p>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>