<%- include('partials/header') %>
<%- include('partials/navbar') %>

    <h2 class="mt-5">Discover New Reads and Expand Your Shelf</h2>

    <!-- Search form -->
    <div class="exploreSearchForm mt-5">
        <form id="exploreForm">
            <input name="search" type="text" placeholder="Search Book..." class="exploreSearch">
            <!-- Radio button for category -->
            <div class="searchCategory mt-3">
                <input type="radio" name="category" value="title">
                <label for="title" class="me-3">Title</label>
                <input type="radio" name="category" value="author">
                <label for="title" class="me-3">Author</label>
                <input type="radio" name="category" value="genre">
                <label for="title" class="me-3">Genre</label>
            </div>
            <button class="searchBtn" type="submit">Search</button>
        </form>
    </div>
    
    <!-- Display books results from search -->
    <div id="bookResults" class="row mx-auto mt-4">
        <% if (books && books.length > 0) { %>
            <% for (let book of books) { %>
                <div class="exploreBook d-flex flex-column align-items-center col-12 col-sm-6 col-md-3 mb-4">
                    <!-- Display book cover image -->
                    <div class="imgDiv mb-2">
                        <a href="/Explore/bookView?isbn=<%= book.isbn %>">
                            <img src="<%= book.image %>" alt="Book Cover" class="exploreImg img-fluid">
                        </a>
                    </div>
    
                    <div class="exploreBookInfo d-flex justify-content-between mt-1">
                        <!-- Display title and author -->
                        <div class="text-start">
                            <a href="/Explore/bookView?isbn=<%= book.isbn %>">
                                <h4 class="mb-0"><%= book.title %></h4>
                            </a>  
                            <p class="exploreAuthor"><%= book.authors %></p>
                        </div>
                        <!-- Display rating and category -->
                        <div class="text-end">
                            <% if (book.averageRating) { %>
                                <div class="d-flex justify-content-end mb-1">
                                    <img src="/imgs/icons/<%= book.averageRating >= 4 ? 'star' : 'starHalf' %>.svg" alt="star icon" class="me-1">
                                    <h4 class="mb-0 me-1"><%= book.averageRating %>/5</h4>
                                </div>
                            <% } else { %>
                                <h4 class="mb-1 me-1">Unrated</h4>
                            <% } %>
                            <div class="text-center">
                                <p class="category px-2"><%= book.categories %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>