<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="bookshelfContainer">
    <h2 class="mt-5">Your Personal Reading Journey, Organized.</h2>

    <div class="shelf">
        <p class="category px-2">In Progress</p>
        <div class="books">
            <% if (!readBooks.length) { %>
                <p>No books found.</p>
            <% } else { %>
                <% readBooks.forEach(book => { %>
                    <div class="book">
                        <div class="row mx-auto my-5">
                            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-top">
                                <div id="imageDiv" class="d-flex justify-content-center align-items-top">
                                    <img src="<%= book.image %>" width="200" height="250" alt="Book Cover" class="object-fit: cover;">
                                </div>
                                <div class="text-start me-5">
                                    <h4 class="mb-0"><%= book.title %></h4>
                                    <p class="exploreAuthor"><%= book.author %></p>
                                </div>
                                <!-- Display rating and category -->
                                <div class="text-end">
                                    <% if (book.rating) { %>
                                        <div class="d-flex justify-content-end mb-1">
                                            <% 
                                                let fullStars = Math.floor(book.rating); // Number of full stars
                                                let hasHalfStar = book.rating % 1 >= 0.5; // Check if there's a half star
                                                let emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); // Remaining empty stars
                                            %>
                                            
                                            <% for (let i = 0; i < fullStars; i++) { %>
                                                <img src="/imgs/icons/star.svg" alt="full star icon" class="me-1">
                                            <% } %>
                                            
                                            <% if (hasHalfStar) { %>
                                                <img src="/imgs/icons/starHalf.svg" alt="half star icon" class="me-1">
                                            <% } %>
        
                                            <% for (let i = 0; i < emptyStars; i++) { %>
                                                <img src="/imgs/icons/starEmpty.svg" alt="empty star icon" class="me-1">
                                            <% } %>
        
                                            <p class="mb-0 mx-1"><%= Number.isInteger(Number(book.rating)) ? Number(book.rating).toFixed(0) : book.rating %>/5</p>
                                        </div>
                                    <% } else { %>
                                        <p class="mb-1 me-1">Unrated</p>
                                    <% } %>
                                    <% if (userShelfIsbns.has(book.isbn)) { %>
                                        <form method="POST" action="/shelf/remove/<%= book.isbn %>">
                                            <button type="submit" class="remove-from-shelf">Remove from Shelf</button>
                                        </form>
                                    <% } else { %>
                                        <form method="POST" action="/shelf/new">
                                            <input type="hidden" name="user_id" value="<%= user.user_id %>">
                                            <input type="hidden" name="isbn" value="<%= book.isbn %>">
                                            <input type="hidden" name="status" value="To Read">
                                            <button type="submit" class="add-to-shelf">Add to Shelf</button>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>

    <div class="shelf">
        <p class="category px-2">Unread</p>
        <div class="books">
            <% if (!unreadBooks.length) { %>
                <p>No books found.</p>
            <% } else { %>
                <% unreadBooks.forEach(book => { %>
                    <div class="book">
                        <div class="row mx-auto my-5">
                            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-top">
                                <div id="imageDiv" class="d-flex justify-content-center align-items-top">
                                    <img src="<%= book.image %>" width="200" height="250" alt="Book Cover" class="object-fit: cover;">
                                </div>
                                <div class="text-start me-5">
                                    <h4 class="mb-0"><%= book.title %></h4>
                                    <p class="exploreAuthor"><%= book.author %></p>
                                </div>
                                <!-- Display rating and category -->
                                <div class="text-end">
                                    <% if (book.rating) { %>
                                        <div class="d-flex justify-content-end mb-1">
                                            <!-- Display stars depending on rating -->
                                            <% 
                                                let fullStars = Math.floor(book.rating); // Number of full stars
                                                let hasHalfStar = book.rating % 1 >= 0.5; // Check if there's a half star
                                                let emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); // Remaining empty stars
                                            %>
                                            
                                            <% for (let i = 0; i < fullStars; i++) { %>
                                                <img src="/imgs/icons/star.svg" alt="full star icon" class="me-1">
                                            <% } %>
                                            
                                            <% if (hasHalfStar) { %>
                                                <img src="/imgs/icons/starHalf.svg" alt="half star icon" class="me-1">
                                            <% } %>
            
                                            <% for (let i = 0; i < emptyStars; i++) { %>
                                                <img src="/imgs/icons/starEmpty.svg" alt="empty star icon" class="me-1">
                                            <% } %>
            
                                            <p class="mb-0 mx-1"><%= Number.isInteger(Number(book.rating)) ? Number(book.rating).toFixed(0) : book.rating %>/5</p>
                                        </div>
                                    <% } else { %>
                                        <p class="mb-1 me-1">Unrated</p>
                                    <% } %>


                                <% if (userShelfIsbns.has(book.isbn)) { %>
                                    <form method="POST" action="/shelf/remove/<%= book.isbn %>">
                                        <input type="hidden" name="user_id" value="<%= user.user_id %>"> <!-- Include user_id if needed -->
                                        <button type="submit" class="remove-from-shelf">Remove from Shelf</button>
                                    </form>
                                <% } else { %>
                                    <form method="POST" action="/shelf/new">
                                        <input type="hidden" name="user_id" value="<%= user.user_id %>">
                                        <input type="hidden" name="isbn" value="<%= book.isbn %>">
                                        <input type="hidden" name="status" value="To Read">
                                        <button type="submit" class="add-to-shelf">Add to Shelf</button>
                                    </form>
                                <% } %>
                            </div>
                        <% }) %>
                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script src="/js/shelf.js"></script>
<script src="/js/script.js"></script>

<%- include('partials/footer') %>