<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="bookshelfContainer">
    <h2 class="mt-5">Your Personal Reading Journey, Organized.</h2>

    <div class="shelf">
        <p class="category px-2">In Progress</p>
        <div class="books">
            <% if (!readBooks.length) { %>
                <p>No books found.</p>
            <% } else { %>
                <% readBooks.forEach(book => { %>
                    <div class="book">
                        <img src="<%= book.coverImage %>" alt="<%= book.title %>">
                        <h3><%= book.title %></h3>
                        <p>by <%= book.author %></p>
                        <% if (book.onShelf) { %>
                            <button class="remove-from-shelf" id="<%= book.isbn %>">Remove from Shelf</button>
                        <% } else { %>
                            <button class="add-to-shelf" id="<%= book.isbn %>">Add to Shelf</button>
                        <% } %>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>

    <div class="shelf">
        <p class="category px-2">Unread</p>
        <div class="books">
            <% if (!unreadBooks.length) { %>
                <p>No books found.</p>
            <% } else { %>
                <% unreadBooks.forEach(book => { %>
                    <div class="book">
                        <img src="<%= book.coverImage %>" alt="<%= book.title %>">
                        <h3><%= book.title %></h3>
                        <p>by <%= book.author %></p>
                        <% if (book.onShelf) { %>
                            <button class="remove-from-shelf" id="<%= book.isbn %>">Remove from Shelf</button>
                        <% } else { %>
                            <button class="add-to-shelf" id="<%= book.isbn %>">Add to Shelf</button>
                        <% } %>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>

<%- include('partials/footer') %>

</body>
</html>